modules = ["go"]

[nix]
channel = "stable-24_05"
packages = ["pkg-config", "xorg.libX11", "xorg.libXcursor", "xorg.libXrandr", "xorg.libXinerama", "xorg.libXi", "libGL"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Zabbix Manager (Headless)"

[[workflows.workflow]]
name = "Zabbix Manager (Headless)"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run -tags=headless ."

[deployment]
run = ["sh", "-c", "go mod init zabbix-manager && go mod tidy && go get fyne.io/fyne/v2@latest && go run main.go"]
