[Desktop Entry]
Version=1.0
Type=Application
Name=Zabbix Manager
Comment=Aplicação para gerenciamento e monitoramento de infraestrutura Zabbix
Exec=/usr/bin/zabbix-manager
Icon=/usr/share/zabbix-manager/assets/icon.png
Terminal=false
Categories=System;Monitor;
Keywords=zabbix;monitor;system;